$designWidth: 750;

%conter {
  left: 50%;
  transform: translateX(-50%)
}


* {
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  outline: none;
  font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif;
}

div {
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


input {
  background: none;
  outline: none;
  border: none;
}

input:focus {
  border: none;
} 

html {
  width: 100%;
  height: 100%;
  font-size: 100 / $designWidth * 100vw;
  -webkit-text-size-adjust: 100%;

  @media screen and (min-width: $designWidth * 1px) {
    font-size: 100px;
  }
}

body {
  width: 100%;
  height: 100%;
  font: 14px helvetica;
  -webkit-font-smoothing: antialiased;
}

div,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  ;
}

button {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  ;
  cursor: pointer;
  -webkit-appearance: none;
}

textarea {
  display: block;
  resize: none;
  box-sizing: border-box;
  font-family: inherit;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

ul,
li {
  list-style: none;
}

em {
  font-style: normal;
}






@keyframes swing {
  0% {
    transform: rotate(-10deg);
    opacity: 0.1;
  }

  50% {
    transform: rotate(5deg);
    opacity: 1;
  }

  100% {
    transform: rotate(-10deg);
    opacity: 0.1;
  }
}

@keyframes swingZ {
  0% {
    transform: rotate(-5deg);
    opacity: 0.1;
  }

  50% {
    transform: rotate(-5deg);
    opacity: 1;
  }

  100% {
    transform: rotate(-5deg);
    opacity: 0.1;
  }
}

@keyframes zoom {
  0% {
    opacity: .1;
    transform: scale(.5);
  }

  80% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: .1;
    transform: scale(.5);
  }
}

@keyframes zip {
  0% {
    opacity: 0;
    filter: brightness(100%);
  }

  65% {
    opacity: 1;
    filter: brightness(300%);
  }

  100% {
    opacity: 0;
    filter: brightness(100%);
  }
}

@keyframes ball {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  80% {
    opacity: 1;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glint {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    filter: brightness(100%);
    transform: rotate(0);
    opacity: 0;
  }

  25% {
    filter: brightness(120%);
    transform: rotate(90deg);
    opacity: 1;
  }

  50% {
    filter: brightness(100%);
    transform: rotate(180deg);
    opacity: 0;
  }

  75% {
    filter: brightness(120%);
    transform: rotate(270deg);
    opacity: 1;
  }

  100% {
    filter: brightness(100%);
    transform: rotate(360deg);
    opacity: 0;
  }
}

.loading {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  background: #54270f;
  left: 0;
  top: 0;

  >div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}



@keyframes ldio-0awbxf2zfqho {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.12, 1.12);
  }

  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.ldio-0awbxf2zfqho div>div {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #90d8cb;
  animation: ldio-0awbxf2zfqho 0.8849557522123893s linear infinite;
}

.ldio-0awbxf2zfqho div:nth-child(1)>div {
  left: 73px;
  top: 46px;
  animation-delay: -0.7743362831858406s;
}

.ldio-0awbxf2zfqho>div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 77px 50px;
}

.ldio-0awbxf2zfqho div:nth-child(2)>div {
  left: 65px;
  top: 65px;
  animation-delay: -0.663716814159292s;
}

.ldio-0awbxf2zfqho>div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 69px 69px;
}

.ldio-0awbxf2zfqho div:nth-child(3)>div {
  left: 46px;
  top: 73px;
  animation-delay: -0.5530973451327433s;
}

.ldio-0awbxf2zfqho>div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 50px 77px;
}

.ldio-0awbxf2zfqho div:nth-child(4)>div {
  left: 27px;
  top: 65px;
  animation-delay: -0.44247787610619466s;
}

.ldio-0awbxf2zfqho>div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 31px 69px;
}

.ldio-0awbxf2zfqho div:nth-child(5)>div {
  left: 19px;
  top: 46px;
  animation-delay: -0.331858407079646s;
}

.ldio-0awbxf2zfqho>div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 23px 50px;
}

.ldio-0awbxf2zfqho div:nth-child(6)>div {
  left: 27px;
  top: 27px;
  animation-delay: -0.22123893805309733s;
}

.ldio-0awbxf2zfqho>div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 31px 31px;
}

.ldio-0awbxf2zfqho div:nth-child(7)>div {
  left: 46px;
  top: 19px;
  animation-delay: -0.11061946902654866s;
}

.ldio-0awbxf2zfqho>div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 50px 23px;
}

.ldio-0awbxf2zfqho div:nth-child(8)>div {
  left: 65px;
  top: 27px;
  animation-delay: 0s;
}

.ldio-0awbxf2zfqho>div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 69px 31px;
}

.loadingio-spinner-spin-ohe46mbm9zg {
  width: 71px;
  height: 71px;
  display: inline-block;
  overflow: hidden;
}

.ldio-0awbxf2zfqho {
  width: 1rem;
  height: 1rem;
  position: relative;
  transform: translateZ(0) scale(0.71);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-0awbxf2zfqho div {
  box-sizing: content-box;
}

/* generated by https://loading.io/ */