<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <title>2020Vertiv合作伙伴大会</title>
    <link rel="stylesheet" href="./css/mobile.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./css/video-js.min.css">
    <link href="img/vertiv.png" rel="shortcut icon">
    <script src="./js/index.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/online.js"></script>
</head>

<body>
    <div class="vertiv">
        <div id="app">
            <div class="nav">
                <div class="nav-logo">
                    <img src="./img/logo.png" alt="">
                </div>
                <div class="nav-right">
                    <div class="icon" id='icon' @click="openNav"></div>
                    <div class="nav-list" id='nav-list' :style="isOpenNav?'display:block':''">
                        <div class="bg"></div>
                        <div class="nav-list-item" :class="{active:i.active}" v-for="i in nav">
                            <a :href="i.active?'./online.html':'./index.html'">{{i.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vertiv-online" v-if="onlineList">
                <div class="chat">
                    <i class=chat_i></i>
                </div>
                <div class="vertiv-online-main">
                    <div class="main-title">线上展厅</div>
                    <div class="main-box">
                        <div class="main-item" :class="{active: activeList['home_'+index].active}"
                            @click="toList(i,index)" v-for="(i,index) in onlineList">
                            <div class="box">
                                <div class="img">
                                    <img :src="i.img" alt="">
                                </div>
                                <div class="title">
                                    {{i.title}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .box .title{
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            height: .35rem;
            line-height: .35rem;
            font-size: .22rem;
            font-weight: bold;
            color: #fff;
            z-index: 1;
            text-align: center;
        }
    </style>

</body>
<script src="./js/video.min.js"></script>

</html>