<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>2020Vertiv合作伙伴大会</title>
    <!-- 在线客服依赖以下css和js文件,请按需引入 -->
    <link rel="stylesheet" type="text/css"
        href="https://php-api2.issmart.com.cn/fastadmin/public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://php-api2.issmart.com.cn/fastadmin/public/assets/addons/kefu/css/kefu_default.css">
    <link href="img/vertiv.png" rel="shortcut icon">
    <script type="text/javascript"
        src="https://php-api2.issmart.com.cn/fastadmin/public/assets/libs/jquery/dist/jquery.min.js">
    </script>
    <script type="text/javascript" src="https://php-api2.issmart.com.cn/fastadmin/public/assets/addons/kefu/js/kefu.js">
    </script>
    <script type="text/javascript"
        src="https://php-api2.issmart.com.cn/fastadmin/public/assets/libs/fastadmin-layer/dist/layer.js">
    </script>
    <script type="text/javascript"
        src="https://php-api2.issmart.com.cn/fastadmin/public/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/mobile.css?v=4.1">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./css/video-js.min.css">
    <script src="./js/index.js"></script>
    <script src="./js/swiper.min.js"></script>
    <!-- <script src="./js/jquery.min.js"></script> -->
    <script src="./js/vue.min.js"></script>
    <script src="./js/online.js?v=1.1"></script>
    <style>
        html,body{
            background: #1f0a02;
        }
    </style>
</head>

<body>
    <div class="vertiv">
        <div id="app" v-show="onlineList.length" style="display: none;">
            <publis_login v-if="showLogin" @submit="login" @clear="showLogin = false"></publis_login>
            <div class="nav">
                <div class="nav-logo">
                    <img src="./img/logo.png" alt="">
                </div>
                <div class="nav-right">
                    <div class="icon" id='icon' @click="openNav"></div>
                    <div class="nav-list" id='nav-list' :style="isOpenNav?'display:block':''">
                        <div class="bg"></div>
                        <div class="nav-list-item" :class="{active:i.active}" v-for="(i,index) in nav">
                            <a @click="toHome(index)">{{i.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vertiv-online" v-if="onlineList">
                <div class="chat" @click="showLogin = true">
                    <i class=chat_i></i>
                </div>
                <div class="back" @click="javascript:window.history.go(-1)">
                    <i></i>
                </div>
                <div class="vertiv-online-main detail" v-if="onlineList.length">
                    <div class="main-title" v-html="onlineList[listIndex].list[detailIndex].title">
                    </div>
                    <div class="main-detail-box">
                        <div class="video" v-if="onlineList[listIndex].list[detailIndex].detail.video">
                            <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered" :width="rem2px(6.9)" :height="rem2px(3.46)" :poster='onlineList[listIndex].list[detailIndex].detail.cover'>
                                <source
                                    :src="onlineList[listIndex].list[detailIndex].detail.video"
                                    type="application/x-mpegURL">
                            </video>
                        </div>
                        <div class="detail-info">
                            <template v-if='onlineList[listIndex].list[detailIndex].content'>
                                <div class="title">
                                    产品介绍
                                </div>
                                <div class="text" style="margin-bottom: 19px;"
                                    v-html="onlineList[listIndex].list[detailIndex].detail.info || onlineList[listIndex].list[detailIndex].content">
                                </div>
                            </template>
                            <template v-if='onlineList[listIndex].list[detailIndex].detail.about'>
                                <div class="title">
                                    相关产品视频
                                </div>
                                <div class="about">
                                    <div class="img" v-for="i in onlineList[listIndex].list[detailIndex].detail.about"
                                        @click="openVideo(i)">
                                        <img src="" alt="">
                                    </div>
                                </div>
                            </template>
                            <div class="title">
                                系统特点
                            </div>
                            <div class="text" v-html='onlineList[listIndex].list[detailIndex].detail.trait'></div>
                            <div class="title">
                                适用范围
                            </div>
                            <div class="text" v-html='onlineList[listIndex].list[detailIndex].detail.scope'></div>
                            <div class="title">
                                应用行业
                            </div>
                            <div class="text" v-html='onlineList[listIndex].list[detailIndex].detail.tmt'></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="openVideo" v-if="isOpenVideo">
                <div class="mb" @click="closeVideo"></div>
                <div class="video_box">
                    <video id="aboutVideo" class="video-js vjs-default-skin vjs-big-play-centered" :width="rem2px(7.24)"
                        :height="rem2px(4.53)">
                        <source :src="openVideoSrc"
                            type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="download" v-if="onlineList.length && onlineList[listIndex].list[detailIndex].detail.file">
                <i class="icon_file"></i>
                <p>{{onlineList[listIndex].list[detailIndex].detail.file[0].title}}</p>
                <a :href="'https://php-api2.issmart.com.cn/pdf_view/web?url=https://php-api2.issmart.com.cn/2020vertivdata/线上展厅/'+onlineList[listIndex].list[detailIndex].detail.file[0].url" class="view"></a>
                <a :href="'https://php-api2.issmart.com.cn/pdf_view/web?url=https://php-api2.issmart.com.cn/2020vertivdata/线上展厅/'+onlineList[listIndex].list[detailIndex].detail.file[0].url" class="down"></a>
            </div>
        </div>
    </div>

</body>
<script src="./js/video.min.js"></script>
<script src="./js/videojs-contrib-hls.min.js"></script>
</html>