<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./css/video-js.min.css">
    <script src="./js/index.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/online.js"></script>
</head>

<body>
    <div id="app">
        <!-- <div class="mb"></div> -->
        <div class="vertiv">
            <div class="nav">
                <div class="nav-box">
                    <div class="nav-logo">
                        <img src="./img/logo.png" alt="">
                    </div>
                    <div class="nav-right">
                        <div class="nav-item" :class="{active:i.active}" v-for="i in nav">
                            <a :href="i.active?'./online.html':'./index.html'">{{i.name}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vertiv-online" v-if="onlineList">
                <div class="chat">
                    <i class=chat_i></i>
                </div>
                <div class="vertiv-online-main">
                    <div class="main-item" :class="{active: activeList['home_'+index].active}" @click="toList(i,index)"
                        v-for="(i,index) in onlineList">
                        <div class="box">
                            <div class="img">
                                <img :src="i.img" alt="">
                            </div>
                            <div class="title">
                                {{i.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./js/video.min.js"></script>

</html>